<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription - JobsEsprit</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ asset('css/templatemo-topic-listing.css') }}" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa; 
            font-family: 'Open Sans', sans-serif;
        }

        .signup-container {
            max-width: 500px;
            margin: auto;
            margin-top: 50px;
            padding: 50px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0,0,0,0.1);
            background-color: #fff; /* White background */
        }

        .form-group {
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
        }

        .site-header {
            background-color: #3498db; 
            color: #fff;
            padding: 20px;
            text-align: center;
            margin-bottom: 30px;
        }

        input[type="text"],
        input[type="email"],
        select {
            padding: 5px;
            margin-bottom: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <div class="site-header">
        <h1>JobsEsprit</h1>
    </div>
    <div class="container signup-container">
        <div align="center">
            <h2>S'inscrire</h2>

            {{ form_start(form) }}
            {{ form_row(form.nomEntreprise) }}

            {{ form_row(form.email) }}
            {{ form_row(form.role) }}

            {{ form_row(form.motDePasse) }}

            {{ form_row(form.phone) }}
            {{ form_row(form.localisation) }}


{# Render the submit button #}
{{ form_widget(form.save, { 'attr': {'class': 'btn btn-primary btn-block'} }) }}


            {{ form_end(form) }}

        </div>
    </div>

    <!-- Add links to your JS scripts or include Bootstrap scripts if needed -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
