{% extends 'user_etudiant/index.html.twig' %}
{% block div %}
    <h3>Editer votre compte </h3>
{% endblock %}
{% block body %}
<section class="section-padding section-bg">
    <div class="container">
        <form method="post" action="{{ path('edit_userentreprise', {'id': userEntreprise.id}) }}" enctype="multipart/form-data">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12 mb-3 form-floating">
                    {{ form_widget(form.nomEntreprise, {'attr': {'class': 'form-control', 'placeholder': 'nomEntreprise', 'required': 'required'}}) }}
                    <label for="{{ form.nomEntreprise.vars.id }}">Nom Entreprise</label>
                    {{ form_errors(form.nomEntreprise) }}
                </div>
              

                

               <div class="col-lg-6 col-md-6 col-12 mb-3 form-floating">
    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'email', 'required': 'required'}}) }}
    <label for="{{ form.email.vars.id }}">email</label>
    {{ form_errors(form.email) }}
</div>

<div class="col-lg-6 col-md-6 col-12 mb-3 form-floating">
    {{ form_widget(form.motDePasse, {'attr': {'class': 'form-control','placeholder':'motDePasse', 'required': 'required'}}) }}
    <label for="{{ form.motDePasse.vars.id }}">motDePasse</label>
    {{ form_errors(form.motDePasse) }}
</div>
<div class="col-lg-6 col-md-6 col-12 mb-3 form-floating">
    {{ form_widget(form.phone, {'attr': {'class': 'form-control ', 'placeholder': 'phone ', 'required': 'required'}}) }}
    <label for="{{ form.phone.vars.id }}">phone</label>
    {{ form_errors(form.phone) }}
</div>
<div class="col-lg-6 col-md-6 col-12 mb-3 form-floating">
    {{ form_widget(form.localisation, {'attr': {'class': 'form-control','placeholder':'localisation', 'required': 'required'}}) }}
    <label for="{{ form.localisation.vars.id }}">localisation</label>
    {{ form_errors(form.localisation) }}
</div>
<div class="col-lg-6 col-md-6 col-12 mb-3 form-floating">
    {{ form_widget(form.role, {'attr': {'class': 'form-control','placeholder':'role', 'required': 'required'}}) }}
    <label for="{{ form.role.vars.id }}">role</label>
    {{ form_errors(form.role) }}
</div>




              

                <div class="col-lg-12 col-md-12 col-12">
                    <button type="submit" class="btn btn-primary">Modifier compte</button>
                </div>
            </div>
            {{ form_end(form) }}
            
        </form>
    </div>
</section>
{% endblock %}
