{% extends 'user_etudiant/dashboard.html.twig' %}
{% block div %}
    <h3>La liste des etudiants </h3>
{% endblock %}
{% block body %}
{% block first_content %}

    <div align="center" style="margin-top: 20px;">
        <style>
            table {
                border-collapse: collapse;
                width: 80%;
            }

            th, td {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: left;
            }
        </style>
        <table align="center">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>idprofile</th>
                    <th>phone</th>
                    <th>role</th>
                    <th>email</th>
                    <th>Mot de passe</th>
                    <th>nom</th>
                    <th>prenom</th>
                    <th>Username</th>
                    <th>image</th>
                    <th>age</th>
                    <th>rate</th>
                    


                </tr>
            </thead>
            <tbody>
                
                    <tr>
                        <td>{{ user.id}}</td>
                        <td>{{ user.idprofile }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.role }}</td>
                        <td>{{ user.motDePasse }}</td>
                        <td>{{ user.nom}}</td>
                        <td>{{ user.prenom }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.image }}</td>
                        <td>{{ user.age }}</td>
                        <td>{{ user.rate }}</td>
                        

                    </tr>
                
                
            </tbody>
        </table>
    </div>
{% endblock %}


    {% endblock %}
