{% extends 'base.html.twig' %}

{% block title %}Carpool Confirmation index{% endblock %}

{% block body %}
    <h1>Carpool Confirmation Student </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Student First Name</th>
                <th>Student Last Name</th>
                <th>Driver First Name</th>
                <th>Driver Last Name</th>
                <th>Departure Time</th>
                <th>Departure Location</th>
                <th>Arrival Location</th>
                <th>Total Reserved Seats Price</th>
                <th>Reserved Seats Count</th>
                <th>Actions</th>
            </tr>             
        </thead>
        <tbody>
        {% for confirm_covoiturage in confirm_covoiturages %}
            <tr>
                <td>{{ confirm_covoiturage.firstNameEtud }}</td>
                <td>{{ confirm_covoiturage.lastNameEtud }}</td>
                <td>{{ confirm_covoiturage.firstNameConducteur }}</td>
                <td>{{ confirm_covoiturage.lastNameConducteur }}</td>
                <td>{{ confirm_covoiturage.heureDepart }}</td>
                <td>{{ confirm_covoiturage.lieuDepart }}</td>
                <td>{{ confirm_covoiturage.lieuArrivee }}</td>
                <td>{{ confirm_covoiturage.prixTotalePlacesReserve }}</td>
                <td>{{ confirm_covoiturage.nombrePlacesReserve }}</td>
                <td>
                    <a href="{{ path('app_confirm_covoiturage_edit', {'id': confirm_covoiturage.id}) }}">edit</a>
                    <a href="{{ path('app_confirm_covoiturage_show1', {'id': confirm_covoiturage.id}) }}">Show</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
