
{# templates/form.html.twig #}
{% extends 'base.html.twig' %}


{% block body %}
    <h1>Confirm Carpooling Details</h1>

    {{ form_start(form) }}
    
    {{ form_row(form.usernameConducteur) }}
    {{ form_row(form.heureDepart) }}
    {{ form_row(form.lieuDepart) }}
    {{ form_row(form.lieuArrivee) }}
    {{ form_row(form.nombrePlacesReserve, {
        'attr': {
            'class': 'reserved-seats-input',
            'min': 1,
        },
    }) }}

    {{ form_row(form.prixTotalePlacesReserve) }}

    {{ form_row(form.id_Covoiturage) }}

    <button type="submit">Confirm</button>

    {{ form_end(form) }}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var reservedSeatsInput = document.querySelector('.reserved-seats-input');
            var prixTotalePlacesReserveInput = document.getElementById('{{ form.prixTotalePlacesReserve.vars.id }}');
            var prix = {{ prix|default(0) }}; // Assuming prix is defined in your controller
            reservedSeatsInput.addEventListener('input', function() {
                var reservedSeats = parseInt(reservedSeatsInput.value, 10);
                var totalPrice = reservedSeats * prix;
                console.log('Total Price:', totalPrice); // Debugging statement
                prixTotalePlacesReserveInput.value = totalPrice;
                console.log('Set Value:', prixTotalePlacesReserveInput.value); // Debugging statement
            });
        });
    </script>
{% endblock %}


