{% extends 'base.html.twig' %}

{% block title %}Carpool Confirmation{% endblock %}

{% block div %}
    <h3>Carpool Confirmation</h3>
{% endblock %}

{% block body %}
    <div class="col-lg-8 col-12 mt-3 mx-auto">
        <div class="custom-block bg-white shadow-lg">
            <a href="topics-detail.html">
                <div class="d-flex">
                    <div>
                        <h5 class="mb-2 mx-auto">Reservation Number: {{confirm_covoiturage.id }}</h5>
                        <p class="mb-0">Student Username: {{ confirm_covoiturage.usernameEtud }}</p>
                        <p class="mb-0">Driver Username: {{ confirm_covoiturage.usernameConducteur }}</p>
                        <p class="mb-0">Driver Phone: {{ confirm_covoiturage.phoneConducteur }}</p>
                        <p class="mb-0">Student Email: {{confirm_covoiturage.emailEtud }}</p>
                        <p class="mb-0">Driver Email: {{ confirm_covoiturage.emailConducteur }}</p>
                        <p class="mb-0">Departure Time: {{ confirm_covoiturage.heureDepart }}</p>
                        <p class="mb-0">Departure Location: {{confirm_covoiturage.lieuDepart }}</p>
                        <p class="mb-0">Arrival Location: {{confirm_covoiturage.lieuArrivee }}</p>
                        <p class="mb-0">Total Price for Reserved Seats: {{confirm_covoiturage.prixTotalePlacesReserve }}</p>
                        <p class="mb-0">Number of Seats Reserved: {{confirm_covoiturage.nombrePlacesReserve }}</p>
                    </div>
                </div>
            </a>
        </div>
            <div class="mt-3 d-flex">

                {{ include('confirm_covoiturage/_delete_form.html.twig') }}
                  <a href="{{ path('app_confirm_covoiturage_edit', {'id': confirm_covoiturage.id}) }}" class="btn custom-btn" >Edit</a>
        <a href="{{ path('app_confirm_covoiturage_index') }}" class="btn custom-btn">Back to List</a>

    </div>

    
    

    
{% endblock %}
