{# templates/confirm_covoiturage/showbyid.html.twig #}

{% extends 'base.html.twig' %}


{% block div %}
<h3>>Confirmation Details </h3>
{% endblock %}


{% block body %}

<div class="col-lg-8 col-12 mt-3 mx-auto">
        <div class="custom-block bg-white shadow-lg">
            <a href="topics-detail.html">
                <div class="d-flex">
                    <div>
                     <h5 class="mb-2  mx-auto">Username Etudiant: {{confirm_covoiturage.usernameEtud }}</h5>
                        <p class="mb-0">First Name Etudiant: {{ confirm_covoiturage.firstNameEtud }}</p>
                        <p class="mb-0">Last Name Etudiant: {{ confirm_covoiturage.lastNameEtud  }}</p>
                        <p class="mb-0">Phone Etudiant: {{ confirm_covoiturage.phoneEtud }}</p>
                        <p class="mb-0">Email Etudiant:{{ confirm_covoiturage.emailEtud }}</p>
                        <p class="mb-0">Number of Places Reserved:{{ confirm_covoiturage.nombrePlacesReserve }}</p>
                        <p class="mb-0">Total Price for Reserved Places: {{ confirm_covoiturage.prixTotalePlacesReserve }}</p>
<br>

{# Add a form with a Confirm button #}
<form method="post" action="{{ path('confirm_reservation', {'id': confirm_covoiturage.id}) }}">
    <!-- Your form fields here -->
    <button type="submit" class="btn custom-btn">Confirm</button>
</form>
<br>
    {{ include('confirm_covoiturage/_delete_form.html.twig') }}

{% endblock %}
