{% extends 'baseE.html.twig' %}
{% block div %}
    <h3>Ajouter Un interview</h3>
{% endblock %}
{% block body %}
<section class="section-padding section-bg">
    <div class="container">
    
<form method="POST" action="{{ path('add_interie', { 'candidature': candidature.id }) }}" enctype="multipart/form-data">

    {{ form_start(form) }}
  
    
              
              

    <div class="col-lg-6 col-md-6 col-12 mb-3 form-floating">
    {{ form_widget(form.heure, {'attr': {'class': 'form-control', 'placeholder': 'Fonction', 'required': 'required'}}) }}
    <label for="{{ form.heure.vars.id }}">heure</label>
    {{ form_errors(form.heure) }}
</div>

<div class="col-lg-6 col-md-6 col-12 mb-3 form-floating">
    {{ form_widget(form.date, {'attr': {'class': 'form-control datepicker', 'placeholder': 'Date ', 'required': 'required'}}) }}
    <label for="{{ form.date.vars.id }}">Date de l'interview</label>
    {{ form_errors(form.date) }}
</div>



              

                <div class="col-lg-12 col-md-12 col-12">
                    <button type="submit" class="btn btn-primary">Add Interview</button>
                </div>
            </div>
            {{ form_end(form) }}
            
        </form>
    </div>
</section>
{% endblock %}
