<!-- dashboard.html.twig-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>DASHMIN - Bootstrap Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


 
    <script>
        // Actualise le nombre de notifications toutes les 5 secondes
        function updateNotificationCount() {
            console.log('Updating notification count...');
            $.ajax({
                url: '/dashbord/notification',
                method: 'GET',
                success: function (data) {
                    console.log('Success! New count:', data.count);
                    $('.notification-count').text(data.count);
                },
                error: function (error) {
                    console.error('Error updating notification count:', error);
                }
            });
        }

        // Met à jour le nombre de notifications toutes les 5 secondes
        setInterval(updateNotificationCount, 30000);


    setInterval(function () {
        console.log('Refreshing page...');
        location.reload();
    }, 60000);

    </script>







    <!-- Favicon -->
    <link href="{{ asset('back/img/favicon.ico') }}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{ asset('lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ asset('lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css') }}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ asset('back/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{ asset('back/css/style.css') }}" rel="stylesheet">
</head>
<body>
   

    <div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="{{ path('app_home_entreprise') }}" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>JobsEsprit</h3>
        </a>
        
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="{{ asset('back/img/user.jpg') }}" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">Jhon Doe</h6>
                <span>Admin</span>
            </div>
        </div>
        <div class="navbar-nav w-100">

            <a href="{{ path('stats_admin') }}" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Dashboard</a>


           
            <a href="{{ path('list_offreadmin') }}" class="nav-item nav-link"><i class="fa fa-laptop me-2"></i>Offers</a>
            <a href="{{ path('events_admin') }}" class="nav-item nav-link "><i class="fa fa-table me-2"></i>Events</a>
            <a href="{{ path('app_confirm_covoiturage_indexAdmin') }}" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Carpooling</a>




            <a href="{{ path('app_covoiturage_post') }}" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Portfolio</a>
            <a href="{{ path('app_covoiturage_post') }}" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Candidacy</a>
            <a href="{{ path('app_covoiturage_post') }}" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Reservations</a>
        </div>
    </nav>
    </div>
    <div class="content">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
        <a href="{{ path('app_home_entreprise') }}" class="navbar-brand d-flex d-lg-none me-4">
            <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
        </a>
        <a href="#" class="sidebar-toggler flex-shrink-0">
            <i class="fa fa-bars"></i>
        </a>
        <form class="d-none d-md-flex ms-4">
            <input class="form-control border-0" type="search" placeholder="Search">
        </form>
        <div class="navbar-nav align-items-center ms-auto">
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-envelope me-lg-2"></i>
                    <span class="d-none d-lg-inline-flex">Message</span>
                </a>
                <!-- The rest of your dropdown menu... -->
            </div>





     <div class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="modal" data-bs-target="#notificationsModal">
            <i class="fa fa-bell me-lg-2"></i>
            <span class="d-none d-lg-inline-flex">Notification</span>
            <span class="badge bg-danger notification-count">0</span>
        </a>
        <!-- Le reste de votre menu déroulant... -->
    </div>









            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <img class="rounded-circle me-lg-2" src="{{ asset('back/img/user.jpg') }}" alt="" style="width: 40px; height: 40px;">
                    <span class="d-none d-lg-inline-flex">John Doe</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">My Profile</a>
                    <a href="#" class="dropdown-item">Settings</a>
                    <a href="{{ path('app_logout') }}" class="dropdown-item">
                        <i class="fa fa-sign-out"></i> Log Out
                    </a>              
                  </div>

                  
            </div>
        </div>
    </nav>



          {% block div %}


{% endblock %}


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="back/lib/chart/chart.min.js"></script>
    <script src="back/lib/easing/easing.min.js"></script>
    <script src="back/lib/waypoints/waypoints.min.js"></script>
    <script src="back/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="back/lib/tempusdominus/js/moment.min.js"></script>
    <script src="back/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="back/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="back/js/main.js"></script>
<!-- Your existing HTML and JavaScript code... -->

<!-- Modal -->
<div class="modal fade" id="notificationsModal" tabindex="-1" aria-labelledby="notificationsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="notificationsModalLabel">Notifications</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <div class="modal-body" id="notificationsContent">
                    <!-- Rendered notifications content from the server -->
                    {% include 'dashbord/index.html.twig' with {'notifications': notifications} %}
                </div>
        </div>
    </div>
</div>


<!-- Your remaining HTML and JavaScript code... -->






</body>
</html>
