{% extends 'dashboard.html.twig' %}
{% block div %}
    <div class="container-fluid pt-4 px-4">
        <div class="bg-light text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">Recent Carpooling</h6>
            </div>
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Departure Time</th>
                    <th>Departure Location</th>
                    <th>Arrival Location</th>
                    <th>Price</th>
                    <th>Available Seats</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for covoiturage in covoiturage %}
                    <tr>
                         <td>{{ covoiturage.username }}</td>
                        <td>{{ covoiturage.heuredepart }}</td>
                        <td>{{ covoiturage.lieudepart }}</td>
                        <td>{{ covoiturage.lieuarrivee }}</td>
                        <td>{{ covoiturage.prix }}</td>
                        <td>{{ covoiturage.nombreplacesdisponible }}</td>
                        <td>
                            {% if covoiturage.image %}
                                <img src="{{ asset('uploads/covoiturages/' ~ covoiturage.image) }}" alt="Carpooling Image" style="max-width: 100px;">
                            {% else %}
                                No image
                            {% endif %}
                        </td>
                        <td>
                            {{ include('dashbord/_deleteAdminCovoiturage.html.twig', {'id': covoiturage.id}) }}

                       
                       
                        </td>
                    </tr>
                {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



     <div class="container-fluid pt-4 px-4">
        <div class="bg-light text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h6 class="mb-0">Confirm Carpooling</h6>
            </div>
            <div class="table-responsive">
                <table class="table text-start align-middle table-bordered table-hover mb-0">
                    <thead>
                        <tr>
                            <th>Student First Name</th>
                            <th>Student Last Name</th>
                            <th>Driver First Name</th>
                            <th>Driver Last Name</th>
                            <th>Departure Time</th>
                            <th>Departure Location</th>
                            <th>Arrival Location</th>
                            <th>Total Reserved Seats Price</th>
                            <th>Reserved Seats Count</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for confirm_covoiturage in confirm_covoiturages %}
                            <tr>
                                <td>{{ confirm_covoiturage.firstNameEtud }}</td>
                                <td>{{ confirm_covoiturage.lastNameEtud }}</td>
                                <td>{{ confirm_covoiturage.firstNameConducteur }}</td>
                                <td>{{ confirm_covoiturage.lastNameConducteur }}</td>
                                <td>{{ confirm_covoiturage.heureDepart }}</td>
                                <td>{{ confirm_covoiturage.lieuDepart }}</td>
                                <td>{{ confirm_covoiturage.lieuArrivee }}</td>
                                <td>{{ confirm_covoiturage.prixTotalePlacesReserve }}</td>
                                <td>{{ confirm_covoiturage.nombrePlacesReserve }}</td>
                                <td>
                                    {{ include('dashbord/_deleteAdminConfirm.html.twig', {'id': confirm_covoiturage.id}) }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
