{% extends 'dashboard/index.html.twig' %}
{% block div %}

<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Recent Offres</h6>
            <a href="#">Show All</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col"><input class="form-check-input" type="checkbox"></th>
                        <th scope="col">ID</th>
                        <th scope="col">Titre</th>
                        <th scope="col">Descreption</th>
                        <th scope="col">Type Stage</th>
                        <th scope="col">Secteurs</th>
                        <th scope="col">Fonction</th>
                        <th scope="col">Date Inscription</th>
                        <th scope="col">Image</th>
                        <th scope="col">Entreprise</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for offre in offres %}
                        <tr>
                            <td><input class="form-check-input" type="checkbox"></td>
                            <td>{{ offre.id }}</td>
                            <td>{{ offre.titre }}</td>
                            <td>{{ offre.descreption }}</td>
                            <td>{{ offre.typeStage }}</td>
                            <td>{{ offre.secteurs }}</td>
                            <td>{{ offre.fonction }}</td>
                            <td>{{ offre.dateInscription ? offre.dateInscription|date('Y-m-d') : '' }}</td>
                            <td>
                                <img src="{{ asset(offre.image) }}" class="custom-block-image img-fluid" alt="">
                            </td>
                            <td>{{ offre.entrepriseid  }}</td>
                            <td>
                                                        <a href="{{ path('admin_deleteoffre', { id: offre.id }) }}">Delete</a>

                                <a href="{{ path('admin_deleteoffre', { id: offre.id }) }}">Show</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="11">Aucune offre trouvée.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
