
{% block title %}Covoiturage{% endblock %}

{% block body %}

    <h1>Covoiturages</h1>

    {% if covoiturage is not empty %}
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Heure de Départ</th>
                    <th>Lieu de Départ</th>
                    <th>Lieu d'Arrivée</th>
                    <th>Prix</th>
                    <th>Nombre de Places Disponibles</th>
                    <th>Image</th>
                    <th>Nom d'Utilisateur</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for covoiturage in covoiturage %}
                    <tr>
                        <td>{{ covoiturage.id }}</td>
                        <td>{{ covoiturage.heuredepart }}</td>
                        <td>{{ covoiturage.lieudepart }}</td>
                        <td>{{ covoiturage.lieuarrivee }}</td>
                        <td>{{ covoiturage.prix }}</td>
                        <td>{{ covoiturage.nombreplacesdisponible }}</td>
                        <td>{{ covoiturage.image }}</td>
                        <td>{{ covoiturage.username }}</td>
                        <td>
                            <a href="{{ path('app_covoiturage_show', {'id': covoiturage.id}) }}">Show</a>
                            <a href="{{ path('app_covoiturage_edit', {'id': covoiturage.id}) }}">Edit</a>
                            {{ include('covoiturage/_delete_form.html.twig', {'id': covoiturage.id}) }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No covoiturages found.</p>
    {% endif %}

    <a href="{{ path('app_covoiturage_new') }}">Create new covoiturage</a>
{% endblock %}
