{% extends 'base.html.twig' %}

{% block title %}Carpooling{% endblock %}

{% block body %}
    <h1>Carpooling</h1>

    {% if covoiturage is not empty %}
        <table class="table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Departure Time</th>
                    <th>Departure Location</th>
                    <th>Arrival Location</th>
                    <th>Price</th>
                    <th>Available Seats</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for covoiturage in covoiturage %}
                    <tr>
                         <td>{{ covoiturage.username }}</td>
                        <td>{{ covoiturage.heuredepart }}</td>
                        <td>{{ covoiturage.lieudepart }}</td>
                        <td>{{ covoiturage.lieuarrivee }}</td>
                        <td>{{ covoiturage.prix }}</td>
                        <td>{{ covoiturage.nombreplacesdisponible }}</td>
                        <td>
                            {% if covoiturage.image %}
                                <img src="{{ asset('uploads/covoiturages/' ~ covoiturage.image) }}" alt="Carpooling Image" style="max-width: 100px;">
                            {% else %}
                                No image
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('app_covoiturage_show', {'id': covoiturage.id}) }}">Show</a>
                            <a href="{{ path('app_covoiturage_edit', {'id': covoiturage.id}) }}">Edit</a>
                            {{ include('covoiturage/_delete_form.html.twig', {'id': covoiturage.id}) }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No carpools found.</p>
    {% endif %}

    <a href="{{ path('app_covoiturage_new') }}">Create new carpool</a>
{% endblock %}
