{# templates/mailer/forgotPassword.html.twig #}


{% block title %}Forgot Password{% endblock %}

{% block body %}
    <h1>Forgot Password</h1>

    {# Display any form errors here #}
    {{ form_errors(form) }}

    {# Render the form #}
    {{ form_start(form) }}
    {{ form_row(form.mail) }}
        {{form_widget(form.envoyer,{'attr':{'class':'btn btn-primary rounded me-auto'}})}}

    {{ form_end(form) }}
{% endblock %}

